body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

header{
    background-color: blue;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
footer{
    background-color: grey;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#side-bar{
    background-color: orange;
}
#projects div:hover{
    cursor: pointer;
    
}
.task{
    background-color: lightgray;
    width: 300px;
    border-radius: 19px;
    
}
.task-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.task-body{
    padding-left: 20px;
    padding-bottom: 20px;
}
#project{
    padding: 20px;
}
main{
    display: grid;
    min-height: calc(100vh - 150px);
    grid-template-columns: 200px auto;

}
#projects div{
    display: flex;
    justify-content: space-around;
}

#new-project{
    border-radius: 100%;
    border: none;
    font-size: 30px;
    width: 40px;
    height: 40px;
  
}
#new-project:hover{
    cursor: pointer;
}

.add-project{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.edit-delete{
    display: flex;
    gap: 10px;
}

#add-project-dialog{
    border-radius: 10px;
    padding: 20px;
}
.edit-icon:hover{
    cursor:pointer;
    
}
.delete-icon:hover{
    cursor: pointer;
}

#tasks{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}