body{
    margin: 0;
    min-width: 550px;
}

*{
    box-sizing: border-box;
    font-family:"Roboto", sans-serif;
}

.display-project{
    display: flex;
    margin-left: 10px;
    gap: 10px;
}
header{
    background-color: #1A4870;
    color: #F3F3F3;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    /* color: white; */
    border-bottom: solid black 1px;
}
footer{
    /* background-color: #1A4870; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid black 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 20px;
    /* color: white; */
}
#side-bar{
    background-color: #F3F3F3;
    padding-right: 5px;
}
#projects div:hover{
    cursor: pointer;
    
}

.task{
    background-color: #EEEEEE;
    color: black;
    width: 300px;
    border-radius: 19px;
    
}

.task-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.task-body{
    padding-left: 20px;
    padding-bottom: 20px;
}
#project{
    padding: 20px;
    background-color: #DADADA;
}
main{
    display: grid;
    min-height: calc(100vh - 150px);
    grid-template-columns: 210px auto;

}
/* #projects div{
    display: flex;
    justify-content: space-around;
} */

#new-project, #new-task{
    border-radius: 100%;
    border: none;
    font-size: 30px;
    width: 40px;
    height: 40px;
  
}

#new-task{
    
    background-color: lightgrey;
    /* margin-top: 40px; */
    margin-left: 10px;
}
#new-project:hover{
    cursor: pointer;
}

.add-project{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.add-task{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.edit-delete{
    display: flex;
    /* background-color: red; */
    gap: 10px;
}

#add-project-dialog{
    border-radius: 10px;
    padding: 20px;
}
.edit-icon:hover{
    cursor:pointer;
    
}
.delete-icon:hover{
    cursor: pointer;
}

#tasks{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.project h3{
    font-size: 17px;
}

h1{
    font-size: 3rem;
}
#side-bar h2{
    text-align: center;
}
.project{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.delete-project{
    display: flex;
    justify-content: center;
    align-items: center;
}
dialog{
    border-radius: 19px;
}
.task h3{
    font-size: 25px;

}
.task h4{
    font-size: 18px;
}
.task p{
    font-size: 17px;
}
label{
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}
#new-task:hover{
    cursor: pointer;
}
a svg {
    display: inline-block; /* To make the element fit around its content */
    transition: transform 2s ease; /* Smooth transition for the rotation */
  }
  
  a svg:hover {
    transform: rotate(360deg); /* Rotate the element 360 degrees */
  }

  dialog .button{
    border-radius: 12px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  fieldset{
    border: none;
  }